<p id="notice"><%= notice %></p>

<div class="product-index">
  <h1>Our Products</h1>
  <h2>We are so proud to present to you the best bikes you will have ever owned!</h2>

  <br>

  <div class="container-fluid" id="product-outline">
    <%= render @products %>
  </div><!-- end container -->

  <br>
  <div class="new-product-button">
    <%= link_to 'New Product', new_product_path %>
  </div>
</div>
<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Colour</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.colour %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
-->
