<p id="notice"><%= notice %></p>

<div class="show_product">
  <h2>
    <%= @product.name %>
  </h2>

  <p>
    <strong>
      <%= image_tag(@product.image_url) %>
    </strong>
  </p>

  <p>
    <%= @product.price / 1 %>
  </p>

  <p>
    <%= @product.description %>
  </p>
</div>

<div class="product-button">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
