<!DOCTYPE html>
<html>
  <head>
    <title>SampleApp</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav id="navbar">
      <ul class="navbar-collapse collapse navbar-left navbar-fixed-top">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Products", products_path %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", static_pages_contact_path %></li>
      </ul>
      <ul class="navbar-collapse collapse navbar-right" id="navbar-right">
        <li><%= form_tag("/products", method: "get", class:"form-inline") do %>
          <%= label_tag(:q, "Search for:", class: "sr-only") %>
          <%= text_field_tag(:q, "", class: "form-control", placeholder: "Search") %>
          <%= submit_tag("Search", class: "btn btn-default") %>
          <% end %>
        </li>
      </ul>
      <ul class="nav pull-right" id="login">
        <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "btn btn-danger") %>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "btn btn-primary") %>
          <% end %>
        </li>
      </ul>
    </nav>

    <% if notice %>
      <p id="notice" class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" class="alert alert-info"><%= alert %></p>
    <% end %>

    <%= yield %>
    <footer class="site-footer">
      <p class="footer-text">
      &copy; 2017 Bike Berlin
    </p>
    </footer>
  </body>
</html>
